#### <span style="color: #00a470"> [Exercise01] 필터링 연습 </span>

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/02_seoul_accident_clean.csv')
df.head()

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상
3,A2019010100100019,2019,1,1,1,1,중구,중구 회현동2가,경상사고,0,...,단일로,단일로 - 터널,승용,남,58.0,상해없음,승용,남,62.0,경상
4,A2019010100100020,2019,1,1,1,1,성동구,성동구 행당동,경상사고,0,...,교차로,교차로 - 교차로부근,승용,남,30.0,상해없음,보행자,남,32.0,경상

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 29 columns):
사고번호         74485 non-null object
사고년도         74485 non-null int64
사고월          74485 non-null int64
사고일          74485 non-null int64
사고시각         74485 non-null int64
사고요일         74485 non-null int64
시군구_대범주      74485 non-null object
시군구_소범주      74485 non-null object
사고내용         74485 non-null object
사망자수         74485 non-null int64
중상자수         74485 non-null int64
경상자수         74485 non-null int64
부상신고자수       74485 non-null int64
사고유형_대범주     74485 non-null object
사고유형_소범주     74485 non-null object
법규위반         74485 non-null object
노면상태_대범주     74485 non-null object
노면상태_소범주     74485 non-null object
기상상태         73575 non-null object
도로형태_대범주     74485 non-null object
도로형태_소범주     74485 non-null object
가해운전자차종      72734 non-null object
가해운전자성별      72738 non-null object
가해운전자연령      72727 non-null float64
가해운전자상해정도    70172 non-null object
피해운전자차종      72225 non-null object
피해운전자성별      72225 non-null object
피해운전자연령      72049 non-null float64
피해운전자상해정도    72225 non-null object
dtypes: float64(2), int64(9), object(18)
memory usage: 16.5+ MB

- 6~8월 사이의 사고의 중상자수와 경상자수

In [10]:
df.loc[df['사고월'].between(6,8), ['중상자수','경상자수']].sum()

중상자수     4901
경상자수    19164
dtype: int64

In [7]:
mm = [6,7,8]
nums = ['사고월', '중상자수','경상자수']
c = (df['사고월'].isin(mm))
df.loc[c, nums]

       사고월  중상자수  경상자수
15344    6     1     1
15345    6     1     0
15346    6     1     1
15347    6     0     1
15348    6     0     1
15349    6     0     3
15350    6     1     0
15351    6     1     1
15352    6     1     1
15353    6     0     2
15354    6     0     2
15355    6     1     0
15356    6     0     1
15357    6     0     1
15358    6     0     1
15359    6     0     1
15360    6     0     1
15361    6     1     1
15362    6     0     2
15363    6     0     1
15364    6     0     1
15365    6     0     1
15366    6     0     1
15367    6     1     0
15368    6     0     1
15369    6     0     0
15370    6     0     1
15371    6     0     1
15372    6     0     2
15373    6     0     1
...    ...   ...   ...
62716    8     0     1
62717    8     0     1
62718    8     0     1
62719    8     0     1
62720    8     0     1
62721    8     0     2
62722    8     1     1
62723    8     1     0
62724    8     0     0
62725    8     0     2
62726    8     0     1
62727    8     0     1
62728    8     0     2
62729    8     0     1
62730    8     0     1
62731    8     0     2
62732    8     0     1
62733    8     0     1
62734    8     0     1
62735    8     1     0
62736    8     0     1
62737    8     0     1
62738    8     0     1
62739    8     0     1
62740    8     1     2
62741    8     0     1
62742    8     0     0
62743    8     0     1
62744    8     0     1
62745    8     1     0

[19325 rows x 3 columns]

In [8]:
df.loc[c, ['중상자수']].sum()

중상자수    4901
dtype: int64

In [9]:
df.loc[c, ['경상자수']].sum()

경상자수    19164
dtype: int64

- 포장도로가 아닌 도로의 가해운전자차종 종류 및 수

In [12]:
c = df['노면상태_대범주'] != '포장'

print(df.loc[df['노면상태_대범주']!='포장', '가해운전자차종'].value_counts())

print("가해운전자차종 종류 -> ", df.loc[c,'가해운전자차종'].dropna().unique())
print("가해운전자차종 수 -> ", len(df.loc[c,'가해운전자차종'].dropna().unique()))

승용      33
이륜      11
화물       7
자전거      5
건설기계     1
Name: 가해운전자차종, dtype: int64
가해운전자차종 종류 ->  ['이륜' '승용' '화물' '자전거' '건설기계']
가해운전자차종 수 ->  5

- 기상상태가 눈이나 비인 경우 가해운전자연령의 평균

In [74]:
df['기상상태']

0        눈
1        눈
2        눈
3        눈
4        눈
        ..
74480    눈
74481    눈
74482    눈
74483    눈
74484    눈
Name: 기상상태, Length: 74485, dtype: object

In [82]:
c = df['기상상태'].isin(['눈', '비'])

df.loc[c,['기상상태','가해운전자연령']]

      기상상태  가해운전자연령
0        눈     26.0
1        눈     23.0
2        눈     33.0
3        눈     58.0
4        눈     30.0
...    ...      ...
74480    눈     35.0
74481    눈     61.0
74482    눈     55.0
74483    눈     62.0
74484    눈     61.0

[74485 rows x 2 columns]

In [84]:
df.loc[c,'가해운전자연령'].mean()

48.06349773811652