In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
np.random.seed(123)

In [2]:
df = pd.read_csv('data/train_ver03.csv', index_col='STU_ID')
df.head()

,X1SEX,X1STDOB,X1TXMTH,X1TXMSEM,X1TXMSCR,X1TXMTSCOR,X1TXMPROF1,X1TXMPROF2,X1TXMPROF3,X1TXMPROF4,...,X1TSEFF,X1TSEXP,X1TSPRINC,X1TSRESP,X1SCHOOLCLI,X1COUPERTEA,X1COUPERCOU,X1COUPERPRI,birthmonth,X1STU30OCC2
STU_ID,,,,,,,,,,,,,,,,,,,,,
10002,2,199511.0,-0.2956,0.2696,35.8045,47.6821,0.9714,0.5204,0.1768,0.0582,...,-0.86,0.54,-0.13,-0.13,0.32,-0.80,1.15,-1.61,11,0
10003,2,199506.0,1.2997,0.2555,56.0477,64.2431,1.0000,0.9914,0.9838,0.6606,...,0.17,0.16,-0.13,-0.13,-0.61,0.81,-0.15,0.00,6,5
10004,2,199505.0,-0.1427,0.2649,38.0888,49.2690,0.9843,0.6416,0.2459,0.0662,...,0.17,0.16,-0.13,-0.13,-2.14,0.03,0.26,0.20,5,0
10005,1,199505.0,1.1405,0.2312,54.1762,62.5897,0.9999,0.9863,0.9686,0.5385,...,-0.25,1.37,-0.13,-0.30,-0.65,-0.25,0.14,0.05,5,10
10006,2,199504.0,0.7106,0.2567,49.0531,58.1268,0.9995,0.9539,0.8469,0.2463,...,-0.86,-1.12,-0.32,-0.13,-0.31,0.51,-0.90,0.69,4,0

In [3]:
y = df.X1STU30OCC2
x = df.drop(columns='X1STU30OCC2')
x_train, x_test, y_train, y_test = train_test_split(x, y, stratify=y)

In [4]:
y_train.value_counts(normalize=True)

0     0.296309
1     0.177853
2     0.071891
3     0.070528
4     0.055991
5     0.052470
6     0.040772
7     0.039296
8     0.031459
9     0.024304
10    0.023850
11    0.021579
12    0.019761
13    0.018512
14    0.014083
15    0.011357
16    0.009654
17    0.007496
18    0.005906
19    0.003634
20    0.003294
Name: X1STU30OCC2, dtype: float64

In [5]:
y_test.value_counts(normalize=True)

0     0.296422
1     0.177853
2     0.071891
3     0.070528
4     0.055877
5     0.052470
6     0.040545
7     0.039182
8     0.031346
9     0.024532
10    0.023850
11    0.021806
12    0.019761
13    0.018399
14    0.013969
15    0.011584
16    0.009881
17    0.007496
18    0.005792
19    0.003748
20    0.003066
Name: X1STU30OCC2, dtype: float64

In [6]:
import joblib
with open('data/my_val.pkl', 'wb') as f:
    joblib.dump({'x':x_train,
                 'y':y_train,
                 'val_x':x_test,
                 'val_y':y_test},f)