In [1]:
import numpy as np
import pandas as pd

## <span style="color:#004f9f"> 1. Importing Data </span>

In [2]:
df = pd.read_csv('data/01_seoul_accident_raw.csv', encoding='euc-kr')
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019년 1월 1일 00시,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019년 1월 1일 00시,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019년 1월 1일 00시,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019년 1월 1일 01시,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019년 1월 1일 01시,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  object
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(17)
memory usage: 11.9+ MB

## <span style="color:#004f9f"> 2. Scrub for Irrelevant / Incorrect Data </span>

### <span style="color:#004f9f"> 2.1. Index 다루기 </span>

In [4]:
df = df.set_index('사고번호')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고일시       74485 non-null  object
 1   시군구        74485 non-null  object
 2   사고내용       74485 non-null  object
 3   사망자수       74485 non-null  int64
 4   중상자수       74485 non-null  int64
 5   경상자수       74485 non-null  int64
 6   부상신고자수     74485 non-null  int64
 7   사고유형       74485 non-null  object
 8   법규위반       74485 non-null  object
 9   노면상태       74485 non-null  object
 10  기상상태       73575 non-null  object
 11  도로형태       74485 non-null  object
 12  가해운전자차종    72734 non-null  object
 13  가해운전자성별    72738 non-null  object
 14  가해운전자연령    72727 non-null  object
 15  가해운전자상해정도  70172 non-null  object
 16  피해운전자차종    72225 non-null  object
 17  피해운전자성별    72225 non-null  object
 18  피해운전자연령    72049 non-null  object
 19  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(16)
memory usage: 11.9+ MB

In [5]:
df = pd.read_csv('data/01_seoul_accident_raw.csv', encoding='euc-kr', index_col='사고번호')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 20 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고일시       74485 non-null  object
 1   시군구        74485 non-null  object
 2   사고내용       74485 non-null  object
 3   사망자수       74485 non-null  int64
 4   중상자수       74485 non-null  int64
 5   경상자수       74485 non-null  int64
 6   부상신고자수     74485 non-null  int64
 7   사고유형       74485 non-null  object
 8   법규위반       74485 non-null  object
 9   노면상태       74485 non-null  object
 10  기상상태       73575 non-null  object
 11  도로형태       74485 non-null  object
 12  가해운전자차종    72734 non-null  object
 13  가해운전자성별    72738 non-null  object
 14  가해운전자연령    72727 non-null  object
 15  가해운전자상해정도  70172 non-null  object
 16  피해운전자차종    72225 non-null  object
 17  피해운전자성별    72225 non-null  object
 18  피해운전자연령    72049 non-null  object
 19  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(16)
memory usage: 11.9+ MB

In [6]:
df.index

Index(['A2019010100100001', 'A2019010100100002', 'A2019010100100003',
       'A2019010100100019', 'A2019010100100020', 'A2019010100100021',
       'A2019010100100022', 'A2019010100100023', 'A2019010100100041',
       'A2019010100100042',
       ...
       'A2020123100100528', 'A2020123100100529', 'A2020123100100530',
       'A2020123100100569', 'A2020123100100570', 'A2020123100100571',
       'A2020123100100572', 'A2020123100100591', 'A2020123100100592',
       'A2020123100100593'],
      dtype='object', name='사고번호', length=74485)

In [7]:
df = df.reset_index()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  object
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: int64(4), object(17)
memory usage: 11.9+ MB

In [8]:
df.reset_index(drop=True)

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019년 1월 1일 00시,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019년 1월 1일 00시,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019년 1월 1일 00시,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019년 1월 1일 01시,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019년 1월 1일 01시,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
74480,A2020123100100571,2020년 12월 31일 22시,서울특별시 동대문구 제기동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,단일로 - 기타,화물,남,35세,상해없음,자전거,남,41세,경상
74481,A2020123100100572,2020년 12월 31일 22시,서울특별시 강동구 강일동,경상사고,0,0,1,0,차대차 - 정면충돌,중앙선침범,...,흐림,교차로 - 교차로부근,승용,남,61세,상해없음,승용,남,21세,경상
74482,A2020123100100591,2020년 12월 31일 23시,서울특별시 강남구 삼성동,경상사고,0,0,2,0,차대차 - 추돌,교차로운행방법위반,...,맑음,교차로 - 교차로안,승용,남,55세,NaN,승용,남,29세,경상
74483,A2020123100100592,2020년 12월 31일 23시,서울특별시 송파구 신천동,중상사고,0,1,0,0,차대차 - 측면충돌,불법유턴,...,맑음,단일로 - 기타,승용,남,62세,상해없음,이륜,남,22세,중상
74484,A2020123100100593,2020년 12월 31일 23시,서울특별시 양천구 신월동,경상사고,0,0,4,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 기타,승용,남,61세,상해없음,승용,남,22세,경상

### <span style="color:#004f9f"> 2.2. 날짜 다루기 </span>

In [9]:
df['사고일시']

0          2019년 1월 1일 00시
1          2019년 1월 1일 00시
2          2019년 1월 1일 00시
3          2019년 1월 1일 01시
4          2019년 1월 1일 01시
               ...
74480    2020년 12월 31일 22시
74481    2020년 12월 31일 22시
74482    2020년 12월 31일 23시
74483    2020년 12월 31일 23시
74484    2020년 12월 31일 23시
Name: 사고일시, Length: 74485, dtype: object

In [10]:
df['사고일시'] = pd.to_datetime(df['사고일시'], format='%Y년 %m월 %d일 %H시')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 21 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   시군구        74485 non-null  object
 3   사고내용       74485 non-null  object
 4   사망자수       74485 non-null  int64
 5   중상자수       74485 non-null  int64
 6   경상자수       74485 non-null  int64
 7   부상신고자수     74485 non-null  int64
 8   사고유형       74485 non-null  object
 9   법규위반       74485 non-null  object
 10  노면상태       74485 non-null  object
 11  기상상태       73575 non-null  object
 12  도로형태       74485 non-null  object
 13  가해운전자차종    72734 non-null  object
 14  가해운전자성별    72738 non-null  object
 15  가해운전자연령    72727 non-null  object
 16  가해운전자상해정도  70172 non-null  object
 17  피해운전자차종    72225 non-null  object
 18  피해운전자성별    72225 non-null  object
 19  피해운전자연령    72049 non-null  object
 20  피해운전자상해정도  72225 non-null  object
dtypes: datetime64[ns](1), int64(4), object(16)
memory usage: 11.9+ MB

In [11]:
df['사고일시'].dt.day_name('ko_KR')

0        화요일
1        화요일
2        화요일
3        화요일
4        화요일
        ...
74480    목요일
74481    목요일
74482    목요일
74483    목요일
74484    목요일
Name: 사고일시, Length: 74485, dtype: object

In [12]:
df['사고일시'].dt.weekday

0        1
1        1
2        1
3        1
4        1
        ..
74480    3
74481    3
74482    3
74483    3
74484    3
Name: 사고일시, Length: 74485, dtype: int64

- date_range

In [13]:
pd.date_range('2020-04-09', periods=100, freq='D')

DatetimeIndex(['2020-04-09', '2020-04-10', '2020-04-11', '2020-04-12',
               '2020-04-13', '2020-04-14', '2020-04-15', '2020-04-16',
               '2020-04-17', '2020-04-18', '2020-04-19', '2020-04-20',
               '2020-04-21', '2020-04-22', '2020-04-23', '2020-04-24',
               '2020-04-25', '2020-04-26', '2020-04-27', '2020-04-28',
               '2020-04-29', '2020-04-30', '2020-05-01', '2020-05-02',
               '2020-05-03', '2020-05-04', '2020-05-05', '2020-05-06',
               '2020-05-07', '2020-05-08', '2020-05-09', '2020-05-10',
               '2020-05-11', '2020-05-12', '2020-05-13', '2020-05-14',
               '2020-05-15', '2020-05-16', '2020-05-17', '2020-05-18',
               '2020-05-19', '2020-05-20', '2020-05-21', '2020-05-22',
               '2020-05-23', '2020-05-24', '2020-05-25', '2020-05-26',
               '2020-05-27', '2020-05-28', '2020-05-29', '2020-05-30',
               '2020-05-31', '2020-06-01', '2020-06-02', '2020-06-03',
               '2020-06-04', '2020-06-05', '2020-06-06', '2020-06-07',
               '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11',
               '2020-06-12', '2020-06-13', '2020-06-14', '2020-06-15',
               '2020-06-16', '2020-06-17', '2020-06-18', '2020-06-19',
               '2020-06-20', '2020-06-21', '2020-06-22', '2020-06-23',
               '2020-06-24', '2020-06-25', '2020-06-26', '2020-06-27',
               '2020-06-28', '2020-06-29', '2020-06-30', '2020-07-01',
               '2020-07-02', '2020-07-03', '2020-07-04', '2020-07-05',
               '2020-07-06', '2020-07-07', '2020-07-08', '2020-07-09',
               '2020-07-10', '2020-07-11', '2020-07-12', '2020-07-13',
               '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17'],
              dtype='datetime64[ns]', freq='D')

- Timedelta

In [14]:
pd.Timedelta(days=100)

Timedelta('100 days 00:00:00')

In [15]:
((df['사고일시'] + pd.Timedelta(days=100)) - df['사고일시']).astype('timedelta64[D]')

0        100.0
1        100.0
2        100.0
3        100.0
4        100.0
         ...
74480    100.0
74481    100.0
74482    100.0
74483    100.0
74484    100.0
Name: 사고일시, Length: 74485, dtype: float64

### <span style="color:#004f9f"> 2.3. 새로운 열의 생성과 데이터프레임의 수정 </span>

In [16]:
df['사고일시'].dt.quarter

0        1
1        1
2        1
3        1
4        1
        ..
74480    4
74481    4
74482    4
74483    4
74484    4
Name: 사고일시, Length: 74485, dtype: int64

In [17]:
df['분기'] = df['사고일시'].dt.quarter
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,분기
0,A2019010100100001,2019-01-01 00:00:00,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상,1
1,A2019010100100002,2019-01-01 00:00:00,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,1
2,A2019010100100003,2019-01-01 00:00:00,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상,1
3,A2019010100100019,2019-01-01 01:00:00,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상,1
4,A2019010100100020,2019-01-01 01:00:00,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상,1

In [18]:
df.insert(2, '사고년도', df['사고일시'].dt.year)
df.head()

,사고번호,사고일시,사고년도,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,분기
0,A2019010100100001,2019-01-01 00:00:00,2019,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상,1
1,A2019010100100002,2019-01-01 00:00:00,2019,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상,1
2,A2019010100100003,2019-01-01 00:00:00,2019,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상,1
3,A2019010100100019,2019-01-01 01:00:00,2019,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상,1
4,A2019010100100020,2019-01-01 01:00:00,2019,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상,1

In [19]:
col = {'분기':'사고분기',
       '사고년도':'년도'}
df = df.rename(columns=col)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 23 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고번호       74485 non-null  object
 1   사고일시       74485 non-null  datetime64[ns]
 2   년도         74485 non-null  int64
 3   시군구        74485 non-null  object
 4   사고내용       74485 non-null  object
 5   사망자수       74485 non-null  int64
 6   중상자수       74485 non-null  int64
 7   경상자수       74485 non-null  int64
 8   부상신고자수     74485 non-null  int64
 9   사고유형       74485 non-null  object
 10  법규위반       74485 non-null  object
 11  노면상태       74485 non-null  object
 12  기상상태       73575 non-null  object
 13  도로형태       74485 non-null  object
 14  가해운전자차종    72734 non-null  object
 15  가해운전자성별    72738 non-null  object
 16  가해운전자연령    72727 non-null  object
 17  가해운전자상해정도  70172 non-null  object
 18  피해운전자차종    72225 non-null  object
 19  피해운전자성별    72225 non-null  object
 20  피해운전자연령    72049 non-null  object
 21  피해운전자상해정도  72225 non-null  object
 22  사고분기       74485 non-null  int64
dtypes: datetime64[ns](1), int64(6), object(16)
memory usage: 13.1+ MB

In [20]:
col = ['사고분기', '년도']
df = df.drop(columns=col)
#df = df.drop(col, axis='columns')
#df = df.drop(col, axis=1)
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,서울특별시 강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,서울특별시 구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,서울특별시 중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,서울특별시 성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

#### <span style="color: #00a470"> [Exercise01] 사고일시 처리하기 </span>
- 새로운 변수 생성
    - 사고년도
    - 사고월
    - 사고일
    - 사고시각
    - 사고요일(숫자로 표현)
- "사고일시" 삭제

### <span style="color:#004f9f"> 2.4. 데이터의 문제점 발견을 위한 데이터 탐색 </span>

In [21]:
x = np.array([20, 30, 40, 300, 30])

In [22]:
np.mean(x)

84.0

In [23]:
np.median(x)

30.0

In [24]:
df.describe().T

          count      mean       std  min  25%  50%  75%   max
사망자수    74485.0  0.006297  0.079271  0.0  0.0  0.0  0.0   2.0
중상자수    74485.0  0.260616  0.496658  0.0  0.0  0.0  0.0  11.0
경상자수    74485.0  0.985406  0.951337  0.0  0.0  1.0  1.0  41.0
부상신고자수  74485.0  0.115553  0.429224  0.0  0.0  0.0  0.0  47.0

In [25]:
df.select_dtypes(['number']).describe()

               사망자수          중상자수          경상자수        부상신고자수
count  74485.000000  74485.000000  74485.000000  74485.000000
mean       0.006297      0.260616      0.985406      0.115553
std        0.079271      0.496658      0.951337      0.429224
min        0.000000      0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000      0.000000
50%        0.000000      0.000000      1.000000      0.000000
75%        0.000000      0.000000      1.000000      0.000000
max        2.000000     11.000000     41.000000     47.000000

In [26]:
df.select_dtypes(['object']).describe().T

           count unique                top   freq
사고번호       74485  74485  A2019010100100001      1
시군구        74485    465      서울특별시 강남구 역삼동   1621
사고내용       74485      4               경상사고  50992
사고유형       74485     17         차대차 - 측면충돌  24627
법규위반       74485     11            안전운전불이행  41379
노면상태       74485     11            포장 - 건조  67200
기상상태       73575      5                 맑음  65872
도로형태       74485     11           단일로 - 기타  36061
가해운전자차종    72734     11                 승용  47366
가해운전자성별    72738      2                  남  59540
가해운전자연령    72727     92                59세   1961
가해운전자상해정도  70172      5               상해없음  57923
피해운전자차종    72225     13                 승용  33561
피해운전자성별    72225      3                  남  53274
피해운전자연령    72049     98                27세   1572
피해운전자상해정도  72225      6                 경상  44797

In [27]:
df.select_dtypes(['object']).nunique()

사고번호         74485
시군구            465
사고내용             4
사고유형            17
법규위반            11
노면상태            11
기상상태             5
도로형태            11
가해운전자차종         11
가해운전자성별          2
가해운전자연령         92
가해운전자상해정도        5
피해운전자차종         13
피해운전자성별          3
피해운전자연령         98
피해운전자상해정도        6
dtype: int64

In [28]:
df['사고내용'].value_counts()

경상사고      50992
중상사고      17852
부상신고사고     5173
사망사고        468
Name: 사고내용, dtype: int64

In [29]:
df['사고내용'].value_counts(normalize=True)

경상사고      0.684594
중상사고      0.239672
부상신고사고    0.069450
사망사고      0.006283
Name: 사고내용, dtype: float64

In [30]:
df['시군구'].value_counts()

서울특별시 강남구 역삼동     1621
서울특별시 관악구 신림동     1496
서울특별시 서초구 서초동     1386
서울특별시 노원구 상계동     1342
서울특별시 강서구 화곡동     1267
                  ...
서울특별시 서대문구 봉원동       2
서울특별시 종로구 화동         2
서울특별시 중구 회현동3가       1
서울특별시 중구 수하동         1
서울특별시 종로구 송현동        1
Name: 시군구, Length: 465, dtype: int64

### <span style="color:#004f9f"> 2.5. 문자열 데이터 다루기 </span>

**[여러 개의 정보가 한 열에 담긴 데이터의 처리]**

In [31]:
df['시군구'] = df['시군구'].str.replace('서울특별시 ','').str.strip()
df.head()

,사고번호,사고일시,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,법규위반,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,보행자보호의무위반,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,안전운전불이행,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,안전운전불이행,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,안전운전불이행,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,안전운전불이행,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

In [32]:
df['시군구'].str.split(' ')

0         [강서구, 방화동]
1         [구로구, 고척동]
2         [서초구, 서초동]
3        [중구, 회현동2가]
4         [성동구, 행당동]
            ...
74480    [동대문구, 제기동]
74481     [강동구, 강일동]
74482     [강남구, 삼성동]
74483     [송파구, 신천동]
74484     [양천구, 신월동]
Name: 시군구, Length: 74485, dtype: object

In [33]:
df['시군구'].str.split(' ', expand=True)

          0      1     2
0       강서구    방화동  None
1       구로구    고척동  None
2       서초구    서초동  None
3        중구  회현동2가  None
4       성동구    행당동  None
...     ...    ...   ...
74480  동대문구    제기동  None
74481   강동구    강일동  None
74482   강남구    삼성동  None
74483   송파구    신천동  None
74484   양천구    신월동  None

[74485 rows x 3 columns]

In [34]:
df.insert(2, '시군구_대범주', df['시군구'].str.split().str[0])
df.head()

,사고번호,사고일시,시군구_대범주,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,강서구,강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,구로구,구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,서초구,서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,중구,중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,성동구,성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

In [35]:
df = df.rename(columns = {'시군구':'시군구_소범주'})
df.head()

,사고번호,사고일시,시군구_대범주,시군구_소범주,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019-01-01 00:00:00,강서구,강서구 방화동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로횡단보도내,승용,남,26세,상해없음,보행자,남,40세,경상
1,A2019010100100002,2019-01-01 00:00:00,구로구,구로구 고척동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,이륜,남,23세,상해없음,승용,남,71세,경상
2,A2019010100100003,2019-01-01 00:00:00,서초구,서초구 서초동,경상사고,0,0,1,0,차대차 - 기타,...,맑음,기타 - 기타,승용,남,33세,상해없음,화물,남,51세,경상
3,A2019010100100019,2019-01-01 01:00:00,중구,중구 회현동2가,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 터널,승용,남,58세,상해없음,승용,남,62세,경상
4,A2019010100100020,2019-01-01 01:00:00,성동구,성동구 행당동,경상사고,0,0,1,0,차대사람 - 횡단중,...,맑음,교차로 - 교차로부근,승용,남,30세,상해없음,보행자,남,32세,경상

**[잘못 입력된 문자열 데이터의 처리]**

In [36]:
df['가해운전자연령'].unique()

array(['26세', '23세', '33세', '58세', '30세', '31세', '49세', '29세', '28세',
       '56세', '51세', nan, '50세', '67세', '61세', '27세', '62세', '52세', '46세',
       '73세', '20세', '36세', '68세', '39세', '60세', '22세', '65세', '45세',
       '57세', '21세', '40세', '72세', '64세', '47세', '18세', '42세', '19세',
       '55세', '86세', '32세', '38세', '59세', '76세', '54세', '80세', '44세',
       '74세', '79세', '82세', '24세', '70세', '77세', '25세', '88세', '48세',
       '43세', '41세', '34세', '63세', '35세', '17세', '71세', '37세', '53세',
       '66세', '69세', '75세', '15세', '14세', '13세', '83세', '78세', '16세',
       '81세', '84세', '11세', '12세', '85세', '5세', '9세', '90세 이상', '8세',
       '89세', '7세', '87세', '6세', '10세', '93세', '90세', '91세', '94세',
       '98세 이상', '92세'], dtype=object)

In [37]:
df['가해운전자연령'] = df['가해운전자연령'].str.replace('세 이상','')
df['가해운전자연령'] = df['가해운전자연령'].str.replace('세','')
df['가해운전자연령'].unique()

array(['26', '23', '33', '58', '30', '31', '49', '29', '28', '56', '51',
       nan, '50', '67', '61', '27', '62', '52', '46', '73', '20', '36',
       '68', '39', '60', '22', '65', '45', '57', '21', '40', '72', '64',
       '47', '18', '42', '19', '55', '86', '32', '38', '59', '76', '54',
       '80', '44', '74', '79', '82', '24', '70', '77', '25', '88', '48',
       '43', '41', '34', '63', '35', '17', '71', '37', '53', '66', '69',
       '75', '15', '14', '13', '83', '78', '16', '81', '84', '11', '12',
       '85', '5', '9', '90', '8', '89', '7', '87', '6', '10', '93', '91',
       '94', '98', '92'], dtype=object)

In [38]:
try:
    df['가해운전자연령'] = df['가해운전자연령'].astype('int')
except:
    df['가해운전자연령'] = df['가해운전자연령'].astype('float')

In [39]:
df['가해운전자연령'].describe()

count    72727.000000
mean        48.063498
std         15.705427
min          5.000000
25%         35.000000
50%         50.000000
75%         60.000000
max         98.000000
Name: 가해운전자연령, dtype: float64

#### <span style="color: #00a470"> [Exercise02] 문자열 데이터 처리하기 </span>
- 사고유형, 노면 상태, 도로형태 데이터의 확인 및 처리
    - 대범주-소범주 형태로 되어 있는 문자열을 처리하여 새로운 변수 생성
    - 사고유형_대범주, 노면상태_대범주, 도로형태_대범주
- 데이터 처리 후 사고유형, 노면상태, 도로형태 변수명을 수정
    - 사고유형_소범주
    - 노면상태_소범주
    - 도로형태_소범주
- 피해운전자연령 변수를 수치형으로 수정