In [62]:
import pandas as pd
import numpy as np

In [63]:
df = pd.read_csv('data/02_seoul_accident_clean.csv')
df.head()

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상
3,A2019010100100019,2019,1,1,1,1,중구,중구 회현동2가,경상사고,0,...,단일로,단일로 - 터널,승용,남,58.0,상해없음,승용,남,62.0,경상
4,A2019010100100020,2019,1,1,1,1,성동구,성동구 행당동,경상사고,0,...,교차로,교차로 - 교차로부근,승용,남,30.0,상해없음,보행자,남,32.0,경상

## <span style="color:#004f9f"> 1. Indexing </span>

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 29 columns):
사고번호         74485 non-null object
사고년도         74485 non-null int64
사고월          74485 non-null int64
사고일          74485 non-null int64
사고시각         74485 non-null int64
사고요일         74485 non-null int64
시군구_대범주      74485 non-null object
시군구_소범주      74485 non-null object
사고내용         74485 non-null object
사망자수         74485 non-null int64
중상자수         74485 non-null int64
경상자수         74485 non-null int64
부상신고자수       74485 non-null int64
사고유형_대범주     74485 non-null object
사고유형_소범주     74485 non-null object
법규위반         74485 non-null object
노면상태_대범주     74485 non-null object
노면상태_소범주     74485 non-null object
기상상태         73575 non-null object
도로형태_대범주     74485 non-null object
도로형태_소범주     74485 non-null object
가해운전자차종      72734 non-null object
가해운전자성별      72738 non-null object
가해운전자연령      72727 non-null float64
가해운전자상해정도    70172 non-null object
피해운전자차종      72225 non-null object
피해운전자성별      72225 non-null object
피해운전자연령      72049 non-null float64
피해운전자상해정도    72225 non-null object
dtypes: float64(2), int64(9), object(18)
memory usage: 16.5+ MB

### <span style="color:#004f9f"> 1.1. 리스트를 사용한 열 선택 </span>

**[사고유형과 관련된 열만 선택]**

In [65]:
col = ['사고유형_대범주','사고유형_소범주'] #데이터프레임
df[col]

      사고유형_대범주      사고유형_소범주
0         차대사람    차대사람 - 횡단중
1          차대차      차대차 - 추돌
2          차대차      차대차 - 기타
3          차대차    차대차 - 측면충돌
4         차대사람    차대사람 - 횡단중
5          차대차      차대차 - 추돌
6          차대차      차대차 - 추돌
7          차대차      차대차 - 추돌
8          차대차      차대차 - 기타
9         차대사람     차대사람 - 기타
10         차대차      차대차 - 추돌
11         차대차      차대차 - 추돌
12        차대사람  차대사람 - 차도통행중
13         차대차      차대차 - 기타
14        차대사람     차대사람 - 기타
15        차대사람    차대사람 - 횡단중
16         차대차      차대차 - 추돌
17         차대차      차대차 - 추돌
18         차대차      차대차 - 추돌
19         차대차      차대차 - 추돌
20        차대사람     차대사람 - 기타
21         차대차      차대차 - 기타
22         차대차      차대차 - 기타
23         차대차    차대차 - 측면충돌
24         차대차      차대차 - 기타
25         차대차    차대차 - 측면충돌
26         차대차    차대차 - 측면충돌
27         차대차      차대차 - 기타
28         차대차    차대차 - 측면충돌
29        차량단독     차량단독 - 기타
...        ...           ...
74455      차대차    차대차 - 측면충돌
74456     차대사람     차대사람 - 기타
74457      차대차      차대차 - 추돌
74458      차대차      차대차 - 추돌
74459     차대사람    차대사람 - 횡단중
74460      차대차      차대차 - 기타
74461      차대차    차대차 - 측면충돌
74462      차대차    차대차 - 측면충돌
74463      차대차    차대차 - 측면충돌
74464      차대차    차대차 - 측면충돌
74465      차대차      차대차 - 기타
74466      차대차      차대차 - 기타
74467      차대차      차대차 - 기타
74468      차대차    차대차 - 정면충돌
74469      차대차      차대차 - 기타
74470      차대차    차대차 - 측면충돌
74471      차대차    차대차 - 측면충돌
74472      차대차   차대차 - 후진중충돌
74473      차대차    차대차 - 측면충돌
74474      차대차    차대차 - 측면충돌
74475      차대차      차대차 - 기타
74476      차대차    차대차 - 측면충돌
74477      차대차      차대차 - 추돌
74478     차대사람  차대사람 - 차도통행중
74479      차대차    차대차 - 측면충돌
74480      차대차      차대차 - 기타
74481      차대차    차대차 - 정면충돌
74482      차대차      차대차 - 추돌
74483      차대차    차대차 - 측면충돌
74484      차대차    차대차 - 측면충돌

[74485 rows x 2 columns]

In [66]:
#df['사고유형_대범주'] #return으로 시리즈
df[['사고유형_대범주']] #return으로 데이터프레임

      사고유형_대범주
0         차대사람
1          차대차
2          차대차
3          차대차
4         차대사람
5          차대차
6          차대차
7          차대차
8          차대차
9         차대사람
10         차대차
11         차대차
12        차대사람
13         차대차
14        차대사람
15        차대사람
16         차대차
17         차대차
18         차대차
19         차대차
20        차대사람
21         차대차
22         차대차
23         차대차
24         차대차
25         차대차
26         차대차
27         차대차
28         차대차
29        차량단독
...        ...
74455      차대차
74456     차대사람
74457      차대차
74458      차대차
74459     차대사람
74460      차대차
74461      차대차
74462      차대차
74463      차대차
74464      차대차
74465      차대차
74466      차대차
74467      차대차
74468      차대차
74469      차대차
74470      차대차
74471      차대차
74472      차대차
74473      차대차
74474      차대차
74475      차대차
74476      차대차
74477      차대차
74478     차대사람
74479      차대차
74480      차대차
74481      차대차
74482      차대차
74483      차대차
74484      차대차

[74485 rows x 1 columns]

### <span style="color:#004f9f"> 1.2. iloc를 사용한 열 선택 </span>

**[정수로 행과 열을 선택]**

In [67]:
# 처음부터 두번째 행까지
df.iloc[:3]

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상

In [68]:
df.head(3)

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
1,A2019010100100002,2019,1,1,0,1,구로구,구로구 고척동,경상사고,0,...,단일로,단일로 - 기타,이륜,남,23.0,상해없음,승용,남,71.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상

In [69]:
# 처음부터 두번째 행까지, 2,8,9번째 열만
df.iloc[:3, [2,8,9]]

   사고월  사고내용  사망자수
0    1  경상사고     0
1    1  경상사고     0
2    1  경상사고     0

In [70]:
# 24번째열부터 끝까지. 모든 행.
df.iloc[:, 24:]

      가해운전자상해정도 피해운전자차종 피해운전자성별  피해운전자연령 피해운전자상해정도
0          상해없음     보행자       남     40.0        경상
1          상해없음      승용       남     71.0        경상
2          상해없음      화물       남     51.0        경상
3          상해없음      승용       남     62.0        경상
4          상해없음     보행자       남     32.0        경상
5          상해없음      승용       남     37.0        경상
6          상해없음      승용       남     27.0        경상
7          상해없음      승용       남     47.0        경상
8          상해없음      승용       남     59.0        경상
9          상해없음     보행자       남     47.0        경상
10         상해없음      승용       여     34.0        경상
11         상해없음      승용       남     37.0      상해없음
12          NaN     보행자       남     45.0        중상
13         부상신고      승용       남     59.0        경상
14         상해없음     보행자       남     35.0        경상
15         상해없음     보행자       남     75.0        경상
16         상해없음      승용       남     76.0      상해없음
17         상해없음      승용       남     51.0        경상
18          NaN      승용       남     45.0        경상
19         상해없음      승용       남     64.0        경상
20         상해없음     보행자       남     63.0        경상
21         상해없음     자전거       남     73.0        중상
22           경상      승용       남     39.0        경상
23           경상      승용       남     65.0        경상
24         상해없음      승용       남     51.0      상해없음
25         상해없음      승용       여     66.0        경상
26         상해없음      승용       남     73.0        경상
27         상해없음      승용       남     31.0        경상
28         상해없음      이륜       남     31.0        경상
29         상해없음     NaN     NaN      NaN       NaN
...         ...     ...     ...      ...       ...
74455      상해없음     원동기       여     23.0        경상
74456       NaN     보행자       여     29.0        경상
74457      상해없음      승용       남     42.0        경상
74458      상해없음      승용       남     31.0        경상
74459      상해없음     보행자       여     59.0        경상
74460      상해없음      이륜       남     39.0        경상
74461      상해없음      승용       남     55.0        경상
74462      상해없음      이륜       남     36.0        중상
74463      부상신고      승용       남     53.0      부상신고
74464      상해없음      이륜       남     35.0        경상
74465      상해없음      승용       여     48.0        경상
74466      상해없음      승용       남     40.0        경상
74467        경상      승용       남     38.0        경상
74468      부상신고      승용       남     34.0        경상
74469       NaN      이륜       남     54.0        경상
74470      상해없음      승용       남     44.0        경상
74471       NaN      승용       남     32.0        경상
74472      상해없음      승용       여     32.0        경상
74473      상해없음      승용       남     50.0        경상
74474       NaN      승용       남     30.0        중상
74475        중상      승용       남     52.0      상해없음
74476      상해없음      승용       남     25.0        경상
74477      상해없음      승용       여     47.0        중상
74478       NaN     보행자       남     57.0      부상신고
74479      상해없음      승용       남     54.0        경상
74480      상해없음     자전거       남     41.0        경상
74481      상해없음      승용       남     21.0        경상
74482       NaN      승용       남     29.0        경상
74483      상해없음      이륜       남     22.0        중상
74484      상해없음      승용       남     22.0        경상

[74485 rows x 5 columns]

In [71]:
# 처음부터 두개씩 건너띄면서 10번째 행까지. 처음부터 2개열
df.iloc[:10:2, :2]

                사고번호  사고년도
0  A2019010100100001  2019
2  A2019010100100003  2019
4  A2019010100100020  2019
6  A2019010100100022  2019
8  A2019010100100041  2019

### <span style="color:#004f9f"> 1.3. loc를 사용한 열 선택 </span>

**[Label로 행과 열을 선택]**

In [72]:
row = [0,2]
df.loc[row]

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_대범주,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도
0,A2019010100100001,2019,1,1,0,1,강서구,강서구 방화동,경상사고,0,...,교차로,교차로 - 교차로횡단보도내,승용,남,26.0,상해없음,보행자,남,40.0,경상
2,A2019010100100003,2019,1,1,0,1,서초구,서초구 서초동,경상사고,0,...,기타,기타 - 기타,승용,남,33.0,상해없음,화물,남,51.0,경상

In [73]:
# 기상상태, 법규위반 선택
col = ['기상상태','법규위반']
df.loc[:, col]

      기상상태       법규위반
0       맑음  보행자보호의무위반
1       맑음    안전운전불이행
2       맑음    안전운전불이행
3       맑음    안전운전불이행
4       맑음    안전운전불이행
5       맑음    안전운전불이행
6       맑음    안전운전불이행
7       맑음    안전운전불이행
8       맑음    안전운전불이행
9       맑음    안전운전불이행
10      맑음    안전거리미확보
11      흐림    안전운전불이행
12      맑음    안전운전불이행
13      맑음  교차로운행방법위반
14      맑음    안전운전불이행
15      맑음       신호위반
16      맑음    안전운전불이행
17      맑음    안전운전불이행
18      맑음    안전운전불이행
19      맑음    안전운전불이행
20      맑음         기타
21      맑음    안전운전불이행
22      맑음    안전거리미확보
23      맑음       차로위반
24      맑음    안전거리미확보
25      맑음    안전운전불이행
26      맑음      중앙선침범
27      맑음    안전운전불이행
28      맑음    안전거리미확보
29      맑음         기타
...    ...        ...
74455   맑음       신호위반
74456   맑음    안전운전불이행
74457   맑음    안전운전불이행
74458   맑음    안전운전불이행
74459   맑음  보행자보호의무위반
74460   맑음    안전운전불이행
74461   맑음    안전운전불이행
74462   맑음       신호위반
74463   맑음    안전거리미확보
74464   맑음    안전운전불이행
74465   맑음    안전운전불이행
74466   맑음    안전거리미확보
74467   맑음    안전운전불이행
74468   맑음    안전운전불이행
74469   맑음    안전운전불이행
74470   맑음         기타
74471   맑음         기타
74472   맑음    안전운전불이행
74473   맑음         기타
74474   맑음    안전거리미확보
74475   맑음       신호위반
74476   맑음    안전거리미확보
74477   맑음    안전거리미확보
74478   맑음    안전운전불이행
74479   맑음    안전운전불이행
74480   맑음    안전운전불이행
74481   흐림      중앙선침범
74482   맑음  교차로운행방법위반
74483   맑음       불법유턴
74484   맑음    안전운전불이행

[74485 rows x 2 columns]

In [74]:
# 3까지 행 선택. 열은 col로 선택
df.loc[:3, col]

  기상상태       법규위반
0   맑음  보행자보호의무위반
1   맑음    안전운전불이행
2   맑음    안전운전불이행
3   맑음    안전운전불이행

## <span style="color:#004f9f"> 2. Filtering </span>

### <span style="color:#004f9f"> 2.1. Boolean Series </span>

**[비교 및 논리연산자]**

In [75]:
# 2020년도 여부
df['Y2020'] = df['사고년도']==2020
df['Y2020']

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
74455     True
74456     True
74457     True
74458     True
74459     True
74460     True
74461     True
74462     True
74463     True
74464     True
74465     True
74466     True
74467     True
74468     True
74469     True
74470     True
74471     True
74472     True
74473     True
74474     True
74475     True
74476     True
74477     True
74478     True
74479     True
74480     True
74481     True
74482     True
74483     True
74484     True
Name: Y2020, Length: 74485, dtype: bool

In [76]:
# 사고요일이 주말?
df['사고요일']>=5

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26       False
27       False
28       False
29       False
         ...
74455    False
74456    False
74457    False
74458    False
74459    False
74460    False
74461    False
74462    False
74463    False
74464    False
74465    False
74466    False
74467    False
74468    False
74469    False
74470    False
74471    False
74472    False
74473    False
74474    False
74475    False
74476    False
74477    False
74478    False
74479    False
74480    False
74481    False
74482    False
74483    False
74484    False
Name: 사고요일, Length: 74485, dtype: bool

In [77]:
#주말사고 건수
(df['사고요일']>=5).sum()

18545

In [78]:
(df['사고요일']>=5).mean()

0.2489763039538162

In [79]:
# 법규위반이 중앙선침범?
df['법규위반'] == '중앙선침범'

0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False
23       False
24       False
25       False
26        True
27       False
28       False
29       False
         ...
74455    False
74456    False
74457    False
74458    False
74459    False
74460    False
74461    False
74462    False
74463    False
74464    False
74465    False
74466    False
74467    False
74468    False
74469    False
74470    False
74471    False
74472    False
74473    False
74474    False
74475    False
74476    False
74477    False
74478    False
74479    False
74480    False
74481     True
74482    False
74483    False
74484    False
Name: 법규위반, Length: 74485, dtype: bool

In [80]:
# 주말이고 기상상태가 맑음?
c1 = df['사고요일']>=5
c2 = df['기상상태'] == '맑음'
(c1 & c2).mean()

0.21841981607034974

In [81]:
# 중상자수가 5명이상이거나 사망자수가 1명이상?
c1 = df['중상자수']>=5
c2 = df['사망자수']>=1
(c1 | c2).sum()

485

In [82]:
# 2019년도의 강남구?
c1 = ~df['Y2020'] #데이터에는 2019, 2020 두개만 있음
c2 = df['시군구_대범주'] == '강남구'
(c1 & c2).sum()

3722

In [83]:
# 강남구와 성북구의 2019년도?
c1 = df['시군구_대범주'] == '강남구'
c2 = df['시군구_대범주'] == '성북구'
((c1 | c2) & (~df['Y2020'])).sum()

5231

In [84]:
my_region = ['강남구','성북구']
c1 = (df['시군구_대범주'].isin(my_region))
(c1 &(~df['Y2020'])).sum()

5231

In [85]:
my_region = ['강남구', '성북구']
c1 = (df['시군구_대범주'].isin(my_region))
(c1 & (~df['Y2020'])).sum()

5231

In [86]:
# 가해운전자연령이 20대?
c1 = df['가해운전자연령']>=20
c2 = df['가해운전자연령']<=29
(c1 & c2).sum()

9262

In [87]:
df['가해운전자연령'].between(20,29).sum()

9262

### <span style="color:#004f9f"> 2.2. 필터링 사례</span>

In [88]:
# 강남구와 성북구의 2019년도 사고만 필터링
my_region = ['강남구','성북구']
c = (df['시군구_대범주'].isin(my_region))
c = (c & (~df['Y2020']))
#df[c]
df.loc[c]

,사고번호,사고년도,사고월,사고일,사고시각,사고요일,시군구_대범주,시군구_소범주,사고내용,사망자수,...,도로형태_소범주,가해운전자차종,가해운전자성별,가해운전자연령,가해운전자상해정도,피해운전자차종,피해운전자성별,피해운전자연령,피해운전자상해정도,Y2020
8,A2019010100100041,2019,1,1,2,1,강남구,강남구 삼성동,경상사고,0,...,교차로 - 교차로안,승용,여,28.0,상해없음,승용,남,59.0,경상,False
9,A2019010100100042,2019,1,1,2,1,강남구,강남구 논현동,경상사고,0,...,단일로 - 기타,승용,여,30.0,상해없음,보행자,남,47.0,경상,False
18,A2019010100100075,2019,1,1,5,1,강남구,강남구 역삼동,경상사고,0,...,교차로 - 교차로부근,승용,남,27.0,NaN,승용,남,45.0,경상,False
22,A2019010100100087,2019,1,1,6,1,강남구,강남구 도곡동,경상사고,0,...,단일로 - 기타,승용,남,73.0,경상,승용,남,39.0,경상,False
24,A2019010100100099,2019,1,1,7,1,강남구,강남구 압구정동,중상사고,0,...,기타 - 기타,승용,남,20.0,상해없음,승용,남,51.0,상해없음,False
25,A2019010100100118,2019,1,1,9,1,성북구,성북구 돈암동,경상사고,0,...,단일로 - 기타,승용,남,36.0,상해없음,승용,여,66.0,경상,False
39,A2019010100100248,2019,1,1,18,1,성북구,성북구 하월곡동,중상사고,0,...,교차로 - 교차로안,승용,남,36.0,상해없음,보행자,여,66.0,중상,False
45,A2019010100100275,2019,1,1,19,1,강남구,강남구 삼성동,중상사고,0,...,기타 - 기타,승용,남,26.0,상해없음,보행자,여,37.0,중상,False
63,A2019010200100026,2019,1,2,1,2,강남구,강남구 대치동,경상사고,0,...,교차로 - 교차로안,승용,여,62.0,상해없음,화물,남,58.0,경상,False
66,A2019010200100046,2019,1,2,5,2,성북구,성북구 하월곡동,중상사고,0,...,교차로 - 교차로안,승용,남,50.0,중상,승용,남,21.0,중상,False
76,A2019010200100122,2019,1,2,9,2,성북구,성북구 동선동1가,경상사고,0,...,단일로 - 기타,승용,남,80.0,상해없음,화물,남,42.0,경상,False
80,A2019010200100137,2019,1,2,10,2,성북구,성북구 상월곡동,중상사고,0,...,교차로 - 교차로횡단보도내,승용,남,46.0,상해없음,보행자,남,75.0,중상,False
82,A2019010200100139,2019,1,2,10,2,강남구,강남구 대치동,중상사고,0,...,기타 - 기타,승용,여,44.0,상해없음,보행자,남,38.0,중상,False
83,A2019010200100166,2019,1,2,11,2,성북구,성북구 안암동5가,경상사고,0,...,교차로 - 교차로안,승용,여,44.0,상해없음,승용,남,75.0,경상,False
86,A2019010200100169,2019,1,2,11,2,강남구,강남구 수서동,경상사고,0,...,단일로 - 기타,이륜,남,79.0,경상,승용,남,29.0,상해없음,False
107,A2019010200100269,2019,1,2,15,2,성북구,성북구 하월곡동,경상사고,0,...,교차로 - 교차로횡단보도내,승용,남,65.0,상해없음,보행자,여,81.0,경상,False
115,A2019010200100299,2019,1,2,16,2,강남구,강남구 청담동,중상사고,0,...,기타 - 기타,승용,남,59.0,상해없음,보행자,여,36.0,중상,False
119,A2019010200100319,2019,1,2,17,2,강남구,강남구 삼성동,중상사고,0,...,교차로 - 교차로부근,승합,남,70.0,상해없음,보행자,여,64.0,중상,False
130,A2019010200100364,2019,1,2,18,2,강남구,강남구 역삼동,경상사고,0,...,기타 - 기타,승용,남,64.0,상해없음,승용,남,37.0,경상,False
149,A2019010200100481,2019,1,2,21,2,성북구,성북구 종암동,경상사고,0,...,교차로 - 교차로부근,승용,남,20.0,상해없음,승용,남,24.0,경상,False
151,A2019010200100511,2019,1,2,23,2,성북구,성북구 정릉동,경상사고,0,...,단일로 - 고가도로위,승합,남,55.0,경상,승용,남,63.0,경상,False
154,A2019010200100514,2019,1,2,23,2,강남구,강남구 역삼동,경상사고,0,...,교차로 - 교차로부근,승용,남,41.0,상해없음,승용,남,63.0,경상,False
162,A2019010300100023,2019,1,3,0,3,강남구,강남구 청담동,경상사고,0,...,기타 - 기타,승용,남,41.0,상해없음,승용,남,29.0,경상,False
167,A2019010300100035,2019,1,3,1,3,강남구,강남구 압구정동,중상사고,0,...,단일로 - 기타,승용,남,36.0,상해없음,승용,남,62.0,부상신고,False
170,A2019010300100049,2019,1,3,3,3,강남구,강남구 대치동,경상사고,0,...,단일로 - 기타,화물,남,36.0,상해없음,화물,남,60.0,경상,False
173,A2019010300100059,2019,1,3,4,3,강남구,강남구 청담동,경상사고,0,...,단일로 - 기타,승용,남,55.0,경상,승용,남,47.0,경상,False
187,A2019010300100125,2019,1,3,9,3,강남구,강남구 논현동,경상사고,0,...,교차로 - 교차로횡단보도내,화물,남,52.0,상해없음,보행자,남,56.0,경상,False
192,A2019010300100152,2019,1,3,10,3,성북구,성북구 안암동5가,경상사고,0,...,단일로 - 기타,승용,남,43.0,상해없음,NaN,NaN,NaN,NaN,False
204,A2019010300100198,2019,1,3,12,3,강남구,강남구 개포동,경상사고,0,...,교차로 - 교차로부근,화물,남,35.0,상해없음,승용,남,62.0,경상,False
217,A2019010300100253,2019,1,3,14,3,강남구,강남구 신사동,경상사고,0,...,단일로 - 기타,NaN,NaN,NaN,NaN,보행자,여,28.0,경상,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39106,A2019123000100339,2019,12,30,16,0,강남구,강남구 역삼동,경상사고,0,...,단일로 - 기타,승용,남,48.0,상해없음,승용,여,51.0,경상,False
39118,A2019123000100422,2019,12,30,18,0,강남구,강남구 청담동,경상사고,0,...,교차로 - 교차로부근,승용,남,35.0,경상,승용,남,70.0,상해없음,False
39120,A2019123000100424,2019,12,30,18,0,성북구,성북구 종암동,경상사고,0,...,기타 - 기타,승용,남,82.0,상해없음,NaN,NaN,NaN,NaN,False
39125,A2019123000100487,2019,12,30,19,0,성북구,성북구 길음동,경상사고,0,...,단일로 - 기타,승용,남,52.0,상해없음,보행자,남,75.0,경상,False
39128,A2019123000100490,2019,12,30,19,0,강남구,강남구 신사동,경상사고,0,...,단일로 - 기타,승용,남,44.0,상해없음,보행자,남,42.0,경상,False
39129,A2019123000100491,2019,12,30,19,0,강남구,강남구 삼성동,경상사고,0,...,단일로 - 기타,승용,남,71.0,상해없음,이륜,남,58.0,경상,False
39131,A2019123000100493,2019,12,30,19,0,성북구,성북구 하월곡동,경상사고,0,...,단일로 - 기타,승용,남,35.0,상해없음,자전거,여,24.0,경상,False
39141,A2019123000100561,2019,12,30,21,0,강남구,강남구 대치동,중상사고,0,...,단일로 - 기타,승용,남,61.0,상해없음,이륜,남,34.0,중상,False
39149,A2019123000100617,2019,12,30,23,0,성북구,성북구 장위동,경상사고,0,...,단일로 - 기타,승용,남,72.0,상해없음,승용,남,61.0,경상,False
39155,A2019123100100022,2019,12,31,0,1,강남구,강남구 신사동,경상사고,0,...,단일로 - 기타,승용,여,36.0,상해없음,승용,남,58.0,경상,False
39168,A2019123100100064,2019,12,31,4,1,강남구,강남구 역삼동,중상사고,0,...,단일로 - 기타,승용,여,38.0,상해없음,승용,여,28.0,중상,False
39170,A2019123100100071,2019,12,31,5,1,강남구,강남구 역삼동,경상사고,0,...,교차로 - 교차로안,승용,남,58.0,상해없음,승용,남,55.0,경상,False
39171,A2019123100100072,2019,12,31,5,1,강남구,강남구 수서동,사망사고,1,...,교차로 - 교차로부근,화물,남,48.0,상해없음,보행자,남,80.0,사망,False
39185,A2019123100100164,2019,12,31,10,1,성북구,성북구 안암동5가,경상사고,0,...,단일로 - 기타,승용,남,61.0,상해없음,승용,남,40.0,경상,False
39191,A2019123100100195,2019,12,31,11,1,강남구,강남구 삼성동,경상사고,0,...,단일로 - 기타,승용,남,60.0,부상신고,화물,남,38.0,경상,False
39192,A2019123100100196,2019,12,31,11,1,강남구,강남구 신사동,경상사고,0,...,단일로 - 기타,승용,남,71.0,상해없음,승용,남,42.0,경상,False
39195,A2019123100100199,2019,12,31,11,1,강남구,강남구 역삼동,경상사고,0,...,기타 - 기타,승용,남,44.0,NaN,보행자,남,36.0,경상,False
39200,A2019123100100250,2019,12,31,13,1,성북구,성북구 안암동5가,경상사고,0,...,교차로 - 교차로안,승용,남,47.0,상해없음,승용,남,52.0,경상,False
39205,A2019123100100284,2019,12,31,14,1,강남구,강남구 논현동,경상사고,0,...,교차로 - 교차로안,승용,남,43.0,상해없음,승용,남,53.0,경상,False
39206,A2019123100100285,2019,12,31,14,1,강남구,강남구 삼성동,경상사고,0,...,단일로 - 기타,승합,남,62.0,상해없음,승용,남,38.0,경상,False
39209,A2019123100100288,2019,12,31,14,1,강남구,강남구 일원동,경상사고,0,...,단일로 - 기타,승용,여,56.0,상해없음,승용,남,45.0,경상,False
39221,A2019123100100396,2019,12,31,17,1,성북구,성북구 종암동,경상사고,0,...,단일로 - 기타,승용,여,29.0,경상,승용,남,54.0,경상,False
39232,A2019123100100443,2019,12,31,18,1,강남구,강남구 세곡동,경상사고,0,...,단일로 - 기타,승용,여,33.0,상해없음,승용,남,43.0,경상,False
39235,A2019123100100500,2019,12,31,19,1,성북구,성북구 돈암동,경상사고,0,...,교차로 - 교차로횡단보도내,승용,여,68.0,상해없음,보행자,여,68.0,경상,False
39242,A2019123100100547,2019,12,31,20,1,강남구,강남구 역삼동,경상사고,0,...,단일로 - 기타,승용,여,36.0,상해없음,승용,남,51.0,상해없음,False
39243,A2019123100100548,2019,12,31,20,1,강남구,강남구 압구정동,경상사고,0,...,단일로 - 기타,승용,남,67.0,상해없음,승용,여,40.0,경상,False
39248,A2019123100100585,2019,12,31,21,1,강남구,강남구 개포동,경상사고,0,...,교차로 - 교차로횡단보도내,이륜,남,37.0,상해없음,자전거,남,45.0,경상,False
39254,A2019123100100611,2019,12,31,22,1,강남구,강남구 삼성동,경상사고,0,...,단일로 - 기타,승용,여,41.0,상해없음,승용,여,61.0,경상,False
39256,A2019123100100634,2019,12,31,23,1,강남구,강남구 역삼동,부상신고사고,0,...,단일로 - 기타,승용,남,59.0,상해없음,NaN,NaN,NaN,NaN,False
39257,A2019123100100635,2019,12,31,23,1,강남구,강남구 수서동,경상사고,0,...,교차로 - 교차로안,승용,남,50.0,상해없음,승용,남,53.0,경상,False

In [89]:
# 강남구와 성북구의 2019년도 사고의 부상신고자수
my_region = ['강남구','성북구']
my_col = ['부상신고자수']
c = (df['시군구_대범주'].isin(my_region))
c = (c & (~df['Y2020']))
df.loc[c, my_col]

       부상신고자수
8           0
9           0
18          0
22          0
24          0
25          0
39          0
45          0
63          0
66          0
76          0
80          0
82          0
83          0
86          0
107         0
115         0
119         0
130         0
149         0
151         0
154         0
162         0
167         1
170         0
173         0
187         0
192         0
204         0
217         0
...       ...
39106       0
39118       0
39120       0
39125       0
39128       0
39129       0
39131       0
39141       0
39149       0
39155       0
39168       0
39170       0
39171       0
39185       0
39191       1
39192       0
39195       0
39200       0
39205       0
39206       0
39209       0
39221       0
39232       0
39235       0
39242       0
39243       0
39248       0
39254       0
39256       2
39257       0

[5231 rows x 1 columns]

In [90]:
# 가해운전자연령이 20대인 사고의 수치 요약
#df[df['가해운전자연령'].between(20,29)].describe().T

In [91]:
qur = "20<=가해운전자연령<=29"
df.query(qur).describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,9262.0,2019.498596,0.500025,2019.0,2019.0,2019.0,2020.0,2020.0
사고월,9262.0,6.606133,3.355597,1.0,4.0,7.0,10.0,12.0
사고일,9262.0,15.983589,8.747422,1.0,8.0,16.0,23.0,31.0
사고시각,9262.0,13.444828,6.792951,0.0,9.0,15.0,19.0,23.0
사고요일,9262.0,3.093284,1.971983,0.0,1.0,3.0,5.0,6.0
사망자수,9262.0,0.005938,0.076835,0.0,0.0,0.0,0.0,1.0
중상자수,9262.0,0.256856,0.494210,0.0,0.0,0.0,0.0,6.0
경상자수,9262.0,1.010905,0.985035,0.0,0.0,1.0,1.0,27.0
부상신고자수,9262.0,0.137119,0.395124,0.0,0.0,0.0,0.0,7.0
가해운전자연령,9262.0,25.431116,2.646823,20.0,23.0,26.0,28.0,29.0
피해운전자연령,8983.0,45.433819,15.936191,2.0,32.0,46.0,58.0,91.0

In [92]:
# 가해운전자연령이 80대이상 사고의 수치 요약
df[df['가해운전자연령']>=80].describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,558.0,2019.465950,0.499287,2019.0,2019.0,2019.0,2020.00,2020.0
사고월,558.0,6.672043,3.361249,1.0,4.0,7.0,10.00,12.0
사고일,558.0,15.754480,8.660706,1.0,9.0,16.0,23.00,31.0
사고시각,558.0,12.801075,4.231395,0.0,10.0,13.0,16.00,23.0
사고요일,558.0,2.741935,1.903808,0.0,1.0,3.0,4.00,6.0
사망자수,558.0,0.016129,0.126085,0.0,0.0,0.0,0.00,1.0
중상자수,558.0,0.268817,0.518383,0.0,0.0,0.0,0.75,6.0
경상자수,558.0,0.862007,0.970271,0.0,0.0,1.0,1.00,10.0
부상신고자수,558.0,0.150538,0.377450,0.0,0.0,0.0,0.00,2.0
가해운전자연령,558.0,82.611111,2.807598,80.0,81.0,82.0,84.00,98.0
피해운전자연령,541.0,47.696858,15.455688,8.0,37.0,49.0,59.00,87.0

In [93]:
qur = "80<=가해운전자연령"
df.query(qur).describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,558.0,2019.465950,0.499287,2019.0,2019.0,2019.0,2020.00,2020.0
사고월,558.0,6.672043,3.361249,1.0,4.0,7.0,10.00,12.0
사고일,558.0,15.754480,8.660706,1.0,9.0,16.0,23.00,31.0
사고시각,558.0,12.801075,4.231395,0.0,10.0,13.0,16.00,23.0
사고요일,558.0,2.741935,1.903808,0.0,1.0,3.0,4.00,6.0
사망자수,558.0,0.016129,0.126085,0.0,0.0,0.0,0.00,1.0
중상자수,558.0,0.268817,0.518383,0.0,0.0,0.0,0.75,6.0
경상자수,558.0,0.862007,0.970271,0.0,0.0,1.0,1.00,10.0
부상신고자수,558.0,0.150538,0.377450,0.0,0.0,0.0,0.00,2.0
가해운전자연령,558.0,82.611111,2.807598,80.0,81.0,82.0,84.00,98.0
피해운전자연령,541.0,47.696858,15.455688,8.0,37.0,49.0,59.00,87.0

In [94]:
t = 80
qur = "@t<=가해운전자연령"
df.query(qur).describe().T

,count,mean,std,min,25%,50%,75%,max
사고년도,558.0,2019.465950,0.499287,2019.0,2019.0,2019.0,2020.00,2020.0
사고월,558.0,6.672043,3.361249,1.0,4.0,7.0,10.00,12.0
사고일,558.0,15.754480,8.660706,1.0,9.0,16.0,23.00,31.0
사고시각,558.0,12.801075,4.231395,0.0,10.0,13.0,16.00,23.0
사고요일,558.0,2.741935,1.903808,0.0,1.0,3.0,4.00,6.0
사망자수,558.0,0.016129,0.126085,0.0,0.0,0.0,0.00,1.0
중상자수,558.0,0.268817,0.518383,0.0,0.0,0.0,0.75,6.0
경상자수,558.0,0.862007,0.970271,0.0,0.0,1.0,1.00,10.0
부상신고자수,558.0,0.150538,0.377450,0.0,0.0,0.0,0.00,2.0
가해운전자연령,558.0,82.611111,2.807598,80.0,81.0,82.0,84.00,98.0
피해운전자연령,541.0,47.696858,15.455688,8.0,37.0,49.0,59.00,87.0

#### <span style="color: #00a470"> [Exercise01] 필터링 연습 </span>
- 6~8월 사이의 사고의 중상자수와 경상자수
- 포장도로가 아닌 도로의 가해운전자차종 종류 및 수
- 기상상태가 눈이나 비인 경우 가해운전자연령의 평균

## <span style="color:#004f9f"> 3. Aggregation </span>

- count 결측치 제외
- size 결측치 포함
- idxmin, idxmax 숫자, 영어대문자, 영어소문자, 한글(ㄱ-힣 | 사전순서대로)

### <span style="color:#004f9f"> 3.1. 단순집계</span>

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74485 entries, 0 to 74484
Data columns (total 30 columns):
사고번호         74485 non-null object
사고년도         74485 non-null int64
사고월          74485 non-null int64
사고일          74485 non-null int64
사고시각         74485 non-null int64
사고요일         74485 non-null int64
시군구_대범주      74485 non-null object
시군구_소범주      74485 non-null object
사고내용         74485 non-null object
사망자수         74485 non-null int64
중상자수         74485 non-null int64
경상자수         74485 non-null int64
부상신고자수       74485 non-null int64
사고유형_대범주     74485 non-null object
사고유형_소범주     74485 non-null object
법규위반         74485 non-null object
노면상태_대범주     74485 non-null object
노면상태_소범주     74485 non-null object
기상상태         73575 non-null object
도로형태_대범주     74485 non-null object
도로형태_소범주     74485 non-null object
가해운전자차종      72734 non-null object
가해운전자성별      72738 non-null object
가해운전자연령      72727 non-null float64
가해운전자상해정도    70172 non-null object
피해운전자차종      72225 non-null object
피해운전자성별      72225 non-null object
피해운전자연령      72049 non-null float64
피해운전자상해정도    72225 non-null object
Y2020        74485 non-null bool
dtypes: bool(1), float64(2), int64(9), object(18)
memory usage: 16.6+ MB

**[수치형변수의 최소값 위치 구하기]**

In [96]:
df.select_dtypes('number').idxmin()

사고년도          0
사고월           0
사고일           0
사고시각          0
사고요일        507
사망자수          0
중상자수          0
경상자수         12
부상신고자수        0
가해운전자연령    2953
피해운전자연령    2248
dtype: int64

In [97]:
df.iloc[2953]

사고번호         A2019013100100430
사고년도                      2019
사고월                          1
사고일                         31
사고시각                        18
사고요일                         3
시군구_대범주                    금천구
시군구_소범주                금천구 시흥동
사고내용                      중상사고
사망자수                         0
중상자수                         1
경상자수                         0
부상신고자수                       0
사고유형_대범주                   차대차
사고유형_소범주              차대차 - 기타
법규위반                   안전운전불이행
노면상태_대범주                    포장
노면상태_소범주               포장 - 건조
기상상태                        맑음
도로형태_대범주                   교차로
도로형태_소범주           교차로 - 교차로부근
가해운전자차종                    자전거
가해운전자성별                      남
가해운전자연령                      5
가해운전자상해정도                   중상
피해운전자차종                     화물
피해운전자성별                      남
피해운전자연령                     59
피해운전자상해정도                 상해없음
Y2020                    False
Name: 2953, dtype: object

In [98]:
df.iloc[2248]

사고번호         A2019012400100530
사고년도                      2019
사고월                          1
사고일                         24
사고시각                        21
사고요일                         3
시군구_대범주                    중랑구
시군구_소범주                중랑구 신내동
사고내용                      경상사고
사망자수                         0
중상자수                         0
경상자수                         1
부상신고자수                       0
사고유형_대범주                  차대사람
사고유형_소범주             차대사람 - 기타
법규위반                   안전운전불이행
노면상태_대범주                    포장
노면상태_소범주               포장 - 건조
기상상태                        맑음
도로형태_대범주                   단일로
도로형태_소범주              단일로 - 기타
가해운전자차종                     이륜
가해운전자성별                      남
가해운전자연령                     54
가해운전자상해정도                 상해없음
피해운전자차종                    보행자
피해운전자성별                      여
피해운전자연령                      1
피해운전자상해정도                   경상
Y2020                    False
Name: 2248, dtype: object

**[사망자수, 중상자수의 합계를 행별로 구하기]**

In [99]:
col = ['사망자수','중상자수']
df[col].sum(axis=1) #행별로 계산하려면 axis=1 꼭 써야함

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       1
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       1
        ..
74455    0
74456    0
74457    0
74458    0
74459    0
74460    0
74461    0
74462    1
74463    0
74464    0
74465    0
74466    0
74467    0
74468    0
74469    0
74470    0
74471    0
74472    0
74473    0
74474    1
74475    1
74476    0
74477    2
74478    0
74479    0
74480    0
74481    0
74482    0
74483    1
74484    0
Length: 74485, dtype: int64

In [100]:
df[col].sum(axis=1).describe()

count    74485.000000
mean         0.266913
std          0.501200
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         11.000000
dtype: float64

### <span style="color:#004f9f"> 3.2. 단일열 기준 집계</span>

**[요일별 중상자수의 합계]**

In [101]:
# agg 메서드 사용
df.groupby(['사고요일'])[['중상자수']].agg('sum')

      중상자수
사고요일
0     2777
1     2956
2     2792
3     2940
4     3008
5     2758
6     2181

In [102]:
# 직접 집계함수의 메서드 사용
df.groupby(['사고요일'])[['중상자수']].sum()

      중상자수
사고요일
0     2777
1     2956
2     2792
3     2940
4     3008
5     2758
6     2181

In [103]:
# agg와 딕셔너리 사용
df.groupby(['사고요일']).agg({'중상자수':'sum'})

      중상자수
사고요일
0     2777
1     2956
2     2792
3     2940
4     3008
5     2758
6     2181

**[요일별 부상신고자수, 중상자수의 합계]**

In [104]:
df.groupby(['사고요일'])[['부상신고자수','중상자수']].sum()

      부상신고자수  중상자수
사고요일
0       1231  2777
1       1196  2956
2       1217  2792
3       1169  2940
4       1363  3008
5       1346  2758
6       1085  2181

In [107]:
df.groupby(['사고요일']).agg({'부상신고자수':'sum','중상자수':'sum'})

      부상신고자수  중상자수
사고요일
0       1231  2777
1       1196  2956
2       1217  2792
3       1169  2940
4       1363  3008
5       1346  2758
6       1085  2181

**[기상상태별 부상신고자수의 합계, 사고건수]**

In [108]:
df.groupby(['기상상태']).agg({'부상신고자수':['sum','count']})

     부상신고자수
        sum  count
기상상태
눈        20    119
맑음     7636  65872
비       553   4686
안개        0      4
흐림      309   2894

In [109]:
df.groupby(['기상상태'])[['부상신고자수']].agg(['sum', 'count'])

     부상신고자수
        sum  count
기상상태
눈        20    119
맑음     7636  65872
비       553   4686
안개        0      4
흐림      309   2894

**[사고요일별 사고건수, 가해운전자연령의 평균, 중상자수의 합계]**

In [115]:
my_dict = {'가해운전자연령':['count','mean'],
           '중상자수': 'sum'}
my_agg = df.groupby(['사고요일']).agg(my_dict)
my_agg.columns= ['사고건수','가해운전자연령평균','중상자수합계']
my_agg['사고건당중상자수'] = my_agg['중상자수합계'] / my_agg['사고건수']
my_agg

       사고건수  가해운전자연령평균  중상자수합계  사고건당중상자수
사고요일
0     10498  49.088779    2777  0.264527
1     10898  48.502936    2956  0.271242
2     10662  48.483493    2792  0.261865
3     10875  48.511448    2940  0.270345
4     11701  48.076831    3008  0.257072
5     10328  47.033695    2758  0.267041
6      7765  46.206182    2181  0.280876

### <span style="color:#004f9f"> 3.3. 복수열 기준 집계</span>

**[요일별 사고유형별 중상자수의 평균]**

In [117]:
df.groupby(['사고요일','사고유형_대범주'])[['중상자수']].mean()

                   중상자수
사고요일 사고유형_대범주
0    차대사람      0.363176
     차대차       0.222663
     차량단독      0.298551
1    차대사람      0.373498
     차대차       0.227740
     차량단독      0.323529
2    차대사람      0.356309
     차대차       0.218470
     차량단독      0.327485
3    차대사람      0.379464
     차대차       0.222537
     차량단독      0.334320
4    차대사람      0.347826
     차대차       0.218335
     차량단독      0.292264
5    차대사람      0.342304
     차대차       0.233135
     차량단독      0.338870
6    차대사람      0.361547
     차대차       0.247035
     차량단독      0.279570

In [118]:
df.groupby(['사고요일','사고유형_대범주'])[['중상자수']].mean().reset_index()

    사고요일 사고유형_대범주      중상자수
0      0     차대사람  0.363176
1      0      차대차  0.222663
2      0     차량단독  0.298551
3      1     차대사람  0.373498
4      1      차대차  0.227740
5      1     차량단독  0.323529
6      2     차대사람  0.356309
7      2      차대차  0.218470
8      2     차량단독  0.327485
9      3     차대사람  0.379464
10     3      차대차  0.222537
11     3     차량단독  0.334320
12     4     차대사람  0.347826
13     4      차대차  0.218335
14     4     차량단독  0.292264
15     5     차대사람  0.342304
16     5      차대차  0.233135
17     5     차량단독  0.338870
18     6     차대사람  0.361547
19     6      차대차  0.247035
20     6     차량단독  0.279570

### <span style="color:#004f9f"> 3.4. Unstack과 Pivot Table</span>

**[unstack]**

In [123]:
my_agg = df.groupby(['사고요일','사고유형_대범주'])[['중상자수']].mean()
my_agg

                   중상자수
사고요일 사고유형_대범주
0    차대사람      0.363176
     차대차       0.222663
     차량단독      0.298551
1    차대사람      0.373498
     차대차       0.227740
     차량단독      0.323529
2    차대사람      0.356309
     차대차       0.218470
     차량단독      0.327485
3    차대사람      0.379464
     차대차       0.222537
     차량단독      0.334320
4    차대사람      0.347826
     차대차       0.218335
     차량단독      0.292264
5    차대사람      0.342304
     차대차       0.233135
     차량단독      0.338870
6    차대사람      0.361547
     차대차       0.247035
     차량단독      0.279570

In [120]:
my_agg.unstack()

              중상자수
사고유형_대범주      차대사람       차대차      차량단독
사고요일
0         0.363176  0.222663  0.298551
1         0.373498  0.227740  0.323529
2         0.356309  0.218470  0.327485
3         0.379464  0.222537  0.334320
4         0.347826  0.218335  0.292264
5         0.342304  0.233135  0.338870
6         0.361547  0.247035  0.279570

In [121]:
my_agg.unstack().T

사고요일                  0         1         2         3         4         5  \
     사고유형_대범주
중상자수 차대사람      0.363176  0.373498  0.356309  0.379464  0.347826  0.342304
     차대차       0.222663  0.227740  0.218470  0.222537  0.218335  0.233135
     차량단독      0.298551  0.323529  0.327485  0.334320  0.292264  0.338870

사고요일                  6
     사고유형_대범주
중상자수 차대사람      0.361547
     차대차       0.247035
     차량단독      0.279570

In [127]:
my_agg.unstack(0) #기본값 -1

              중상자수
사고요일             0         1         2         3         4         5         6
사고유형_대범주
차대사람      0.363176  0.373498  0.356309  0.379464  0.347826  0.342304  0.361547
차대차       0.222663  0.227740  0.218470  0.222537  0.218335  0.233135  0.247035
차량단독      0.298551  0.323529  0.327485  0.334320  0.292264  0.338870  0.279570

**[pivot_table]**

In [41]:
pd.pivot_table(df, index='사고요일', columns='사고유형_대범주', values='중상자수', aggfunc='mean', fill_value=0) #결측치 fill_value

사고유형_대범주      차대사람       차대차      차량단독
사고요일
0         0.363176  0.222663  0.298551
1         0.373498  0.227740  0.323529
2         0.356309  0.218470  0.327485
3         0.379464  0.222537  0.334320
4         0.347826  0.218335  0.292264
5         0.342304  0.233135  0.338870
6         0.361547  0.247035  0.279570

In [42]:
pd.pivot_table(df, index=['사고요일','사고유형_대범주'], columns='가해운전자성별', values='중상자수', aggfunc='mean', fill_value=0)

가해운전자성별               남         여
사고요일 사고유형_대범주
0    차대사람      0.378920  0.356322
     차대차       0.230284  0.202802
     차량단독      0.305136  0.142857
1    차대사람      0.392455  0.343373
     차대차       0.228007  0.232716
     차량단독      0.331034  0.187500
2    차대사람      0.380310  0.318949
     차대차       0.221415  0.209877
     차량단독      0.314465  0.521739
3    차대사람      0.395986  0.379771
     차대차       0.222051  0.231237
     차량단독      0.335443  0.333333
4    차대사람      0.363344  0.336397
     차대차       0.221346  0.210698
     차량단독      0.289634  0.368421
5    차대사람      0.354234  0.358396
     차대차       0.239201  0.215250
     차량단독      0.339286  0.350000
6    차대사람      0.384403  0.320158
     차대차       0.252118  0.231501
     차량단독      0.279693  0.277778