In [1]:
import pandas as pd
import numpy as np

## <span style="color:#004f9f"> 1. 엑셀파일 다루기 </span>

In [6]:
df = pd.read_excel('data/01_special_accident.xlsx')
df.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,A2019042100100473,2019년 4월 21일 23시,일요일,서울특별시 영등포구 신길동,중상사고,0,6,28,1,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,61세,상해없음,승합,남,58세,중상
1,A2019050900100373,2019년 5월 9일 15시,목요일,서울특별시 동작구 상도동,중상사고,0,4,13,8,차대차 - 측면충돌,...,맑음,단일로 - 기타,화물,남,48세,상해없음,승용,여,69세,중상
2,A2019051100100349,2019년 5월 11일 13시,토요일,서울특별시 강남구 일원동,경상사고,0,0,27,7,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,27세,상해없음,승합,남,54세,경상
3,A2019060200100189,2019년 6월 2일 13시,일요일,서울특별시 서대문구 현저동,중상사고,0,1,12,10,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,53세,부상신고,승합,남,65세,경상
4,A2019061900100155,2019년 6월 19일 09시,수요일,서울특별시 서대문구 홍제동,중상사고,0,1,14,7,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,20세,상해없음,승합,남,55세,경상

In [9]:
df = pd.read_excel('data/01_special_accident.xlsx', sheet_name=['대형사고','고속국도사고'])
type(df)

collections.OrderedDict

In [11]:
df.keys()

odict_keys(['대형사고', '고속국도사고'])

In [12]:
df['대형사고']

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,A2019042100100473,2019년 4월 21일 23시,일요일,서울특별시 영등포구 신길동,중상사고,0,6,28,1,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,61세,상해없음,승합,남,58세,중상
1,A2019050900100373,2019년 5월 9일 15시,목요일,서울특별시 동작구 상도동,중상사고,0,4,13,8,차대차 - 측면충돌,...,맑음,단일로 - 기타,화물,남,48세,상해없음,승용,여,69세,중상
2,A2019051100100349,2019년 5월 11일 13시,토요일,서울특별시 강남구 일원동,경상사고,0,0,27,7,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,27세,상해없음,승합,남,54세,경상
3,A2019060200100189,2019년 6월 2일 13시,일요일,서울특별시 서대문구 현저동,중상사고,0,1,12,10,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,53세,부상신고,승합,남,65세,경상
4,A2019061900100155,2019년 6월 19일 09시,수요일,서울특별시 서대문구 홍제동,중상사고,0,1,14,7,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,20세,상해없음,승합,남,55세,경상
5,A2019080900100628,2019년 8월 9일 20시,금요일,서울특별시 금천구 시흥동,중상사고,0,6,13,13,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,49세,경상,승합,남,56세,경상
6,A2019102300100171,2019년 10월 23일 09시,수요일,서울특별시 서대문구 현저동,중상사고,0,9,41,1,차대차 - 측면충돌,...,맑음,교차로 - 교차로부근,승합,남,45세,상해없음,승합,남,47세,경상
7,A2019102800100395,2019년 10월 28일 15시,월요일,서울특별시 송파구 잠실동,경상사고,0,0,1,25,차량단독 - 공작물충돌,...,맑음,단일로 - 기타,승합,남,70세,상해없음,NaN,NaN,NaN,NaN
8,A2019120700100517,2019년 12월 7일 19시,토요일,서울특별시 중구 장교동,중상사고,0,1,16,16,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,50세,상해없음,승합,남,41세,경상
9,A2019123000100624,2019년 12월 30일 23시,월요일,서울특별시 서초구 서초동,중상사고,0,1,0,47,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,32세,기타불명,승합,남,56세,부상신고
10,A2020011700100036,2020년 1월 17일 05시,금요일,서울특별시 중랑구 중화동,중상사고,0,4,17,0,차대차 - 기타,...,맑음,교차로 - 교차로안,승용,남,60세,기타불명,승합,남,47세,경상
11,A2020051200100145,2020년 5월 12일 09시,화요일,서울특별시 은평구 수색동,중상사고,0,2,5,17,차대차 - 측면충돌,...,맑음,교차로 - 교차로안,화물,남,38세,상해없음,승합,남,52세,부상신고
12,A2020071600100130,2020년 7월 16일 09시,목요일,서울특별시 도봉구 창동,중상사고,0,11,11,1,차대차 - 기타,...,맑음,교차로 - 교차로안,승합,남,60세,중상,승용,남,27세,경상

**[Unpacking]** 시트 개수만큼 변수명을 지정

In [5]:
large_acc, highway_acc = df.values()
large_acc.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,A2019042100100473,2019년 4월 21일 23시,일요일,서울특별시 영등포구 신길동,중상사고,0,6,28,1,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,61세,상해없음,승합,남,58세,중상
1,A2019050900100373,2019년 5월 9일 15시,목요일,서울특별시 동작구 상도동,중상사고,0,4,13,8,차대차 - 측면충돌,...,맑음,단일로 - 기타,화물,남,48세,상해없음,승용,여,69세,중상
2,A2019051100100349,2019년 5월 11일 13시,토요일,서울특별시 강남구 일원동,경상사고,0,0,27,7,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,27세,상해없음,승합,남,54세,경상
3,A2019060200100189,2019년 6월 2일 13시,일요일,서울특별시 서대문구 현저동,중상사고,0,1,12,10,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,53세,부상신고,승합,남,65세,경상
4,A2019061900100155,2019년 6월 19일 09시,수요일,서울특별시 서대문구 홍제동,중상사고,0,1,14,7,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,20세,상해없음,승합,남,55세,경상

**[locals().update(딕셔너리명)]** 각 시트이름을 변수명으로 사용

In [6]:
locals().update(df)
대형사고.head()

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,A2019042100100473,2019년 4월 21일 23시,일요일,서울특별시 영등포구 신길동,중상사고,0,6,28,1,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,61세,상해없음,승합,남,58세,중상
1,A2019050900100373,2019년 5월 9일 15시,목요일,서울특별시 동작구 상도동,중상사고,0,4,13,8,차대차 - 측면충돌,...,맑음,단일로 - 기타,화물,남,48세,상해없음,승용,여,69세,중상
2,A2019051100100349,2019년 5월 11일 13시,토요일,서울특별시 강남구 일원동,경상사고,0,0,27,7,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,27세,상해없음,승합,남,54세,경상
3,A2019060200100189,2019년 6월 2일 13시,일요일,서울특별시 서대문구 현저동,중상사고,0,1,12,10,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,53세,부상신고,승합,남,65세,경상
4,A2019061900100155,2019년 6월 19일 09시,수요일,서울특별시 서대문구 홍제동,중상사고,0,1,14,7,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,20세,상해없음,승합,남,55세,경상

In [7]:
df = pd.read_excel('data/01_special_accident.xlsx', sheet_name=None)
print(df.keys())
locals().update(df)

dict_keys(['대형사고', '고속국도사고', '음주사고', '무면허사고', '뺑소니사고'])

## <span style="color:#004f9f"> 2. 객체 병합 </span>

### <span style="color:#004f9f"> 2.1.  pd.concat </span>

In [8]:
pd.concat([대형사고, 고속국도사고])

,사고번호,사고일시,요일,시군구,사고내용,사망자수,중상자수,경상자수,부상신고자수,사고유형,...,기상상태,도로형태,가해운전자 차종,가해운전자 성별,가해운전자 연령,가해운전자 상해정도,피해운전자 차종,피해운전자 성별,피해운전자 연령,피해운전자 상해정도
0,A2019042100100473,2019년 4월 21일 23시,일요일,서울특별시 영등포구 신길동,중상사고,0,6,28,1,차대차 - 추돌,...,맑음,단일로 - 기타,승합,남,61세,상해없음,승합,남,58세,중상
1,A2019050900100373,2019년 5월 9일 15시,목요일,서울특별시 동작구 상도동,중상사고,0,4,13,8,차대차 - 측면충돌,...,맑음,단일로 - 기타,화물,남,48세,상해없음,승용,여,69세,중상
2,A2019051100100349,2019년 5월 11일 13시,토요일,서울특별시 강남구 일원동,경상사고,0,0,27,7,차대차 - 기타,...,맑음,단일로 - 기타,승용,여,27세,상해없음,승합,남,54세,경상
3,A2019060200100189,2019년 6월 2일 13시,일요일,서울특별시 서대문구 현저동,중상사고,0,1,12,10,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,여,53세,부상신고,승합,남,65세,경상
4,A2019061900100155,2019년 6월 19일 09시,수요일,서울특별시 서대문구 홍제동,중상사고,0,1,14,7,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,20세,상해없음,승합,남,55세,경상
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,A2020122200100509,2020년 12월 22일 20시,화요일,서울특별시 서초구 서초동,경상사고,0,0,1,0,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,60세,상해없음,승용,남,47세,경상
253,A2020122300100367,2020년 12월 23일 17시,수요일,서울특별시 송파구 장지동,중상사고,0,3,3,0,차대차 - 기타,...,맑음,단일로 - 기타,승용,남,72세,상해없음,승용,남,37세,경상
254,A2020122500100091,2020년 12월 25일 11시,금요일,서울특별시 강동구 상일동,경상사고,0,0,1,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,51세,상해없음,승용,여,29세,경상
255,A2020122800100176,2020년 12월 28일 11시,월요일,서울특별시 서초구 원지동,중상사고,0,2,0,5,차대차 - 추돌,...,맑음,단일로 - 기타,승용,남,58세,기타불명,승용,남,48세,부상신고
256,A2020122900100400,2020년 12월 29일 20시,화요일,서울특별시 서초구 원지동,경상사고,0,0,2,0,차대차 - 측면충돌,...,맑음,단일로 - 기타,승용,남,27세,상해없음,승용,남,28세,경상

In [9]:
for i in df.keys():
    df[i]['비고'] = i
full_df = pd.concat(df)
full_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 7288 entries, ('대형사고', 0) to ('뺑소니사고', 1471)
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   사고번호        7288 non-null   object
 1   사고일시        7288 non-null   object
 2   요일          7288 non-null   object
 3   시군구         7288 non-null   object
 4   사고내용        7288 non-null   object
 5   사망자수        7288 non-null   int64
 6   중상자수        7288 non-null   int64
 7   경상자수        7288 non-null   int64
 8   부상신고자수      7288 non-null   int64
 9   사고유형        7288 non-null   object
 10  법규위반        7288 non-null   object
 11  노면상태        7288 non-null   object
 12  기상상태        7288 non-null   object
 13  도로형태        7288 non-null   object
 14  가해운전자 차종    7288 non-null   object
 15  가해운전자 성별    7288 non-null   object
 16  가해운전자 연령    7288 non-null   object
 17  가해운전자 상해정도  7288 non-null   object
 18  피해운전자 차종    6979 non-null   object
 19  피해운전자 성별    6979 non-null   object
 20  피해운전자 연령    6979 non-null   object
 21  피해운전자 상해정도  6979 non-null   object
 22  비고          7288 non-null   object
dtypes: int64(4), object(19)
memory usage: 1.5+ MB

In [10]:
full_df.비고.value_counts()

음주사고      4417
뺑소니사고     1472
무면허사고     1129
고속국도사고     257
대형사고        13
Name: 비고, dtype: int64

### <span style="color:#004f9f"> 2.2.  .join() </span>

In [11]:
my_dict = {}
for i in df.keys():
    col_name = i+'여부'
    df[i][col_name] = 1
    my_dict[i] = df[i][['사고번호',col_name]].set_index('사고번호')
    
print(my_dict.keys())
locals().update(my_dict)

dict_keys(['대형사고', '고속국도사고', '음주사고', '무면허사고', '뺑소니사고'])

In [12]:
대형사고

                   대형사고여부
사고번호
A2019042100100473       1
A2019050900100373       1
A2019051100100349       1
A2019060200100189       1
A2019061900100155       1
A2019080900100628       1
A2019102300100171       1
A2019102800100395       1
A2019120700100517       1
A2019123000100624       1
A2020011700100036       1
A2020051200100145       1
A2020071600100130       1

In [13]:
대형사고.join(음주사고)

                   대형사고여부  음주사고여부
사고번호
A2019042100100473       1     NaN
A2019050900100373       1     NaN
A2019051100100349       1     NaN
A2019060200100189       1     NaN
A2019061900100155       1     NaN
A2019080900100628       1     NaN
A2019102300100171       1     NaN
A2019102800100395       1     NaN
A2019120700100517       1     NaN
A2019123000100624       1     NaN
A2020011700100036       1     NaN
A2020051200100145       1     NaN
A2020071600100130       1     NaN

In [14]:
대형사고.join(음주사고, how='outer')

                   대형사고여부  음주사고여부
사고번호
A2019010100100022     NaN     1.0
A2019010100100023     NaN     1.0
A2019010100100041     NaN     1.0
A2019010100100042     NaN     1.0
A2019010100100044     NaN     1.0
...                   ...     ...
A2020123100100385     NaN     1.0
A2020123100100387     NaN     1.0
A2020123100100444     NaN     1.0
A2020123100100447     NaN     1.0
A2020123100100530     NaN     1.0

[4430 rows x 2 columns]

In [15]:
my_join = 대형사고
for i in my_dict.keys():
    if i=='대형사고': continue
    my_join = my_join.join(my_dict[i], how='outer')
my_join = my_join.fillna(0)
my_join = my_join.astype('int')
my_join.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6600 entries, A2019010100100022 to A2020123100100530
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   대형사고여부    6600 non-null   int32
 1   고속국도사고여부  6600 non-null   int32
 2   음주사고여부    6600 non-null   int32
 3   무면허사고여부   6600 non-null   int32
 4   뺑소니사고여부   6600 non-null   int32
dtypes: int32(5)
memory usage: 180.5+ KB

### <span style="color:#004f9f"> 2.3.  .merge() </span>

In [16]:
for i in my_dict.keys():
    my_dict[i] = my_dict[i].reset_index()
my_dict['대형사고']

                 사고번호  대형사고여부
0   A2019042100100473       1
1   A2019050900100373       1
2   A2019051100100349       1
3   A2019060200100189       1
4   A2019061900100155       1
5   A2019080900100628       1
6   A2019102300100171       1
7   A2019102800100395       1
8   A2019120700100517       1
9   A2019123000100624       1
10  A2020011700100036       1
11  A2020051200100145       1
12  A2020071600100130       1

In [17]:
my_dict['대형사고'].merge(my_dict['음주사고'], on='사고번호', how='outer')

                   사고번호  대형사고여부  음주사고여부
0     A2019042100100473     1.0     NaN
1     A2019050900100373     1.0     NaN
2     A2019051100100349     1.0     NaN
3     A2019060200100189     1.0     NaN
4     A2019061900100155     1.0     NaN
...                 ...     ...     ...
4425  A2020123100100385     NaN     1.0
4426  A2020123100100387     NaN     1.0
4427  A2020123100100444     NaN     1.0
4428  A2020123100100447     NaN     1.0
4429  A2020123100100530     NaN     1.0

[4430 rows x 3 columns]

In [18]:
my_merge = my_dict['대형사고']
for i in my_dict.keys():
    if i=='대형사고': continue
    my_merge = my_merge.merge(my_dict[i], on='사고번호', how='outer')
my_merge = my_merge.fillna(0)
my_merge = my_merge.astype(int, errors='ignore')
my_merge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6600 entries, 0 to 6599
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   사고번호      6600 non-null   object
 1   대형사고여부    6600 non-null   int32
 2   고속국도사고여부  6600 non-null   int32
 3   음주사고여부    6600 non-null   int32
 4   무면허사고여부   6600 non-null   int32
 5   뺑소니사고여부   6600 non-null   int32
dtypes: int32(5), object(1)
memory usage: 232.0+ KB

## <span style="color:#004f9f"> 3. 기존 데이터와 결합 </span>

In [19]:
df = pd.read_pickle('data/02_seoul_accident_clean.pkl')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 28 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고년도       74485 non-null  int64
 1   사고월        74485 non-null  int64
 2   사고일        74485 non-null  int64
 3   사고시각       74485 non-null  int64
 4   사고요일       74485 non-null  int64
 5   시군구_대범주    74485 non-null  object
 6   시군구_소범주    74485 non-null  object
 7   사고내용       74485 non-null  object
 8   사망자수       74485 non-null  int64
 9   중상자수       74485 non-null  int64
 10  경상자수       74485 non-null  int64
 11  부상신고자수     74485 non-null  int64
 12  사고유형_대범주   74485 non-null  object
 13  사고유형_소범주   74485 non-null  object
 14  법규위반       74485 non-null  object
 15  노면상태_대범주   74485 non-null  object
 16  노면상태_소범주   74485 non-null  object
 17  기상상태       73575 non-null  object
 18  도로형태_대범주   74485 non-null  object
 19  도로형태_소범주   74485 non-null  object
 20  가해운전자차종    72734 non-null  object
 21  가해운전자성별    72738 non-null  object
 22  가해운전자연령    72727 non-null  float64
 23  가해운전자상해정도  70172 non-null  object
 24  피해운전자차종    72225 non-null  object
 25  피해운전자성별    72225 non-null  object
 26  피해운전자연령    72049 non-null  float64
 27  피해운전자상해정도  72225 non-null  object
dtypes: float64(2), int64(9), object(17)
memory usage: 16.5+ MB

In [20]:
df = df.join(my_join, how='left').fillna(0)
df = df.astype('int', errors='ignore')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 74485 entries, A2019010100100001 to A2020123100100593
Data columns (total 33 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   사고년도       74485 non-null  int32
 1   사고월        74485 non-null  int32
 2   사고일        74485 non-null  int32
 3   사고시각       74485 non-null  int32
 4   사고요일       74485 non-null  int32
 5   시군구_대범주    74485 non-null  object
 6   시군구_소범주    74485 non-null  object
 7   사고내용       74485 non-null  object
 8   사망자수       74485 non-null  int32
 9   중상자수       74485 non-null  int32
 10  경상자수       74485 non-null  int32
 11  부상신고자수     74485 non-null  int32
 12  사고유형_대범주   74485 non-null  object
 13  사고유형_소범주   74485 non-null  object
 14  법규위반       74485 non-null  object
 15  노면상태_대범주   74485 non-null  object
 16  노면상태_소범주   74485 non-null  object
 17  기상상태       74485 non-null  object
 18  도로형태_대범주   74485 non-null  object
 19  도로형태_소범주   74485 non-null  object
 20  가해운전자차종    74485 non-null  object
 21  가해운전자성별    74485 non-null  object
 22  가해운전자연령    74485 non-null  int32
 23  가해운전자상해정도  74485 non-null  object
 24  피해운전자차종    74485 non-null  object
 25  피해운전자성별    74485 non-null  object
 26  피해운전자연령    74485 non-null  int32
 27  피해운전자상해정도  74485 non-null  object
 28  대형사고여부     74485 non-null  int32
 29  고속국도사고여부   74485 non-null  int32
 30  음주사고여부     74485 non-null  int32
 31  무면허사고여부    74485 non-null  int32
 32  뺑소니사고여부    74485 non-null  int32
dtypes: int32(16), object(17)
memory usage: 16.8+ MB